// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'athena-rustic';
    src: url('../athena_rustic.ttf');
}

html {
    height: 100vh;
}


body {
    background-color: #991b1b;
    height: 100%;
    $font-family-sans-serif: 
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue", Arial,
        "Noto Sans",
        "Liberation Sans",
        sans-serif;
    $display-font-weight: 700;
}

.athena {
    font-family: 'athena-rustic';
}

.holder {
    height: max(calc(100% - 162px), calc(100% - 90px));
}

.main {
    height: 100%;
}

.two-panes {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url('../images/pizza-home.jpg');
    background-position: center;
    background-size: cover;
    min-height: 879px;
}

.content {
    min-height: 879px;
}

.btn {
    width: 100px;
}

.list-holder {
    max-width: 800px;
    background-color: #991b1b;
    border: 1px solid black;
    border-radius: 20px;
}